<style>
    h1{
        background-color: lightblue;
        text-align: center;
    }
    h2{
        background-color: lightgray;
        text-align: center;
    }
    .tablacontactos{
        align-items: center;
        
    }
    p{
        text-align: center;
    }
</style>
{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>ReservaPadel</h1>

<h2>Registro de clubes!</h2>
<p>Introduce los datos para añadir un nuevo Club</p>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <form action="" class="formulario_club" id="formulario_club method="post">
            {% csrf_token%}
            <br>
            <table id="tablaclub" class="tablaclub">
                {{form | crispy}}
            </table>
           
            <div class="d-flex justify-content-end">
            <input type ="reset" value="Cancelar" class= "btn btn-secondary"/>
            &nbsp;
            <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        {{mensaje}}

    </div>
</div>


  

{% endblock %}