<style>
    h1{
      text-align: center;
      background-color: lightblue;
    }
    body{
      align-items: center;
      text-align: center;
    }
    h2{
      text-align: center;
      background-color: lightgrey;
    }
    h4{
        text-align: center;
        color:lightblue
    }
  </style>
  {% extends "base_generic.html" %}
  {% load crispy_forms_tags %}
  {% block content %}
  <h1>ReservaPadel</h1>
  
  <h2>Contraseña Cambiada Correctamente!!!</h2>
  <br>
  <h4><a href="{% url 'perfil' %}">Ir a Mi Perfil de Usuario</a></h4>
  {% endblock %}