<style>
    h1{
        text-align: center;
        background-color: lightskyblue;
    }
    
</style>
{% extends "base_generic.html" %}

{% block content %}
<h1>ReservaPadel</h1>
<div class="bg-info">
<h2>¿Quienes somos?</h2>
<p>Somos una pagina de prueba para el alquiler de pistas de Padel.</p>
</div>
<div class="bg-info ">
<h2>¿Cuando alquilamos las pistas?</h2> 
<p>Las pistas se pueden alquilar durante todo el año.</p>
</div>
<div class="bg-info ">
<h2>¿A que hora puedo reservar una pista?</h2>
<p>Puedes reservar una pista a la hora que quieras dentro de nuestro Horario.</p>
</div>
<div class="bg-info ">
<h2>¿Cuantas pistas tenemos?</h2>
<p>Ahora mismo contamos con 2 pistas totalmente nuevas.</p>
</div>
<div class="bg-info ">
<h2>¿Como se puede Reservar una pista?</h2>
<p>Para poder reservar una pista es necesario iniciar sesion .Si no tienes una cuenta por favor registrate en el apartado de registrarse.</p>
</div>
<div class="bg-info ">
<h2>¿Cuanto cuesta la reserva de una pista por hora?</h2>
<p>El coste de una pista por hora es de 20€.</p>
</div>
<div class="bg-info ">
<h2>¿Donde se paga la pista?</h2>
<p>La pista se pagara en recepción.</p>
</div>

{% endblock %}